<li class="list-group-item list-group-item-<%= status ? 'success' : 'danger' %>">
  <div class="row">
    <div class="col-xs-10">
      <%= name %>
    </div>
    <div class="col-xs-1 text-right">
      <span class="badge">
        <%= status ? t(:'.ok') : t(:'.down') %>
      </span>
    </div>
    <div class="col-xs-1 text-right">
      <% if endpoint && endpoint.restart_command.present? %>
        <% disabled = endpoint.last_restart > 5.minutes.ago %>
        <%= button_to 'restart', status_path(id: endpoint.id), disabled: disabled, method: :patch, class: 'btn btn-danger btn-xs', title: disabled ? "You need to wait 5 minutes between restarts" : "Restart endpoint" %>
      <% else %>
        <%= button_to 'restart', '/', disabled: true, class: 'btn btn-danger btn-xs', title: 'no command specified' %>
      <% end %>
    </div>
  </div>
</li>
